resources/n8n/somar_ia_evolution_workflow.json
{
  "name": "Somar.IA SaaS - Agente Autônomo (Evolution API)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "somar-ia-saas",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook Somar SaaS",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 300],
      "webhookId": "somar-ia-saas-evolution"
    },
    {
      "parameters": {
        "model": "gemini-1.5-flash",
        "options": {
          "temperature": "={{ $json.body.agentConfig.temperature || 0.7 }}"
        }
      },
      "id": "gemini-model",
      "name": "Google Gemini Flash",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [500, 500],
      "credentials": {
        "googleGeminiApi": {
          "id": "GEMINI_CRED_ID",
          "name": "Google Gemini"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook Somar SaaS').item.json.body.customerPhone }}",
        "contextWindowLength": 10
      },
      "id": "memory-node",
      "name": "Memória Contextual",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [500, 160]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Webhook Somar SaaS').item.json.body.message }}",
        "options": {
          "systemMessage": "=Você é {{ $('Webhook Somar SaaS').item.json.body.agentConfig.name || 'Assistente Virtual' }}.\n\nInstruções do agente:\n{{ $('Webhook Somar SaaS').item.json.body.agentConfig.prompt }}\n\nResponda sempre em português, de forma clara e objetiva."
        }
      },
      "id": "ai-agent",
      "name": "Agente Somar IA",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [500, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Webhook Somar SaaS').item.json.body.instance.providerUrl }}/message/sendText/{{ $('Webhook Somar SaaS').item.json.body.instance.instanceKey }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $('Webhook Somar SaaS').item.json.body.instance.token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('Webhook Somar SaaS').item.json.body.customerPhone }}\",\n  \"text\": \"{{ $('Agente Somar IA').item.json.output }}\"\n}",
        "options": {}
      },
      "id": "evolution-output",
      "name": "Enviar via Evolution API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [760, 300]
    }
  ],
  "connections": {
    "Webhook Somar SaaS": {
      "main": [
        [
          {
            "node": "Agente Somar IA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Flash": {
      "ai_languageModel": [
        [
          {
            "node": "Agente Somar IA",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memória Contextual": {
      "ai_memory": [
        [
          {
            "node": "Agente Somar IA",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Agente Somar IA": {
      "main": [
        [
          {
            "node": "Enviar via Evolution API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "active": false
}
