resources/n8n-blueprint.json
{
  "name": "Somar.IA - Master Flow [v1.0]",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "somar-ia-saas",
        "options": {}
      },
      "id": "e4920668-3d14-4920-8066-8d144920e492",
      "name": "Webhook In (Next.js)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [400, 300]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {
          "temperature": 0.7
        }
      },
      "id": "b8a82163-1234-4567-8901-23456789abcd",
      "name": "OpenAI Chat Model",
      "type": "n8n-nodes-base.openAiChatModel",
      "typeVersion": 1,
      "position": [620, 500],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CRED_ID"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $node[\"Webhook In (Next.js)\"].json[\"message\"] }}",
        "options": {
          "systemMessage": "=Você é {{ $node[\"Webhook In (Next.js)\"].json[\"agentConfig\"][\"nome\"] }}. Seu tom de voz é {{ $node[\"Webhook In (Next.js)\"].json[\"agentConfig\"][\"tom\"] }}. \n\nInstruções: {{ $node[\"Webhook In (Next.js)\"].json[\"agentConfig\"][\"servicos\"] }}\n\nRegras: {{ $node[\"Webhook In (Next.js)\"].json[\"agentConfig\"][\"regras\"] }}"
        }
      },
      "id": "c1d2e3f4-5678-90ab-cdef-1234567890ab",
      "name": "AI Agent",
      "type": "n8n-nodes-base.aiAgent",
      "typeVersion": 1,
      "position": [600, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.ultramsg.com/{{ $node[\"Webhook In (Next.js)\"].json[\"instance\"][\"instanceId\"] }}/messages/chat",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "token",
              "value": "={{ $node[\"Webhook In (Next.js)\"].json[\"instance\"][\"token\"] }}"
            },
            {
              "name": "to",
              "value": "={{ $node[\"Webhook In (Next.js)\"].json[\"customerPhone\"] }}"
            },
            {
              "name": "body",
              "value": "={{ $node[\"AI Agent\"].json[\"output\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d5e6f7g8-9012-3456-7890-123456789012",
      "name": "Send WhatsApp (UltraMsg)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook In (Next.js)": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send WhatsApp (UltraMsg)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "f7d3a2e1-4c6b-4d9e-8f2a-1b5c3d4e6f7g",
  "id": "1",
  "meta": {
    "templateId": "somar-ia-master-v1"
  }
}
